#include <zephyr/dt-bindings/regulator/nrf5x.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

/* 解绑 reset 并强制 LDO */
&uicr {
    /delete-property/ gpio-as-nreset;
};

&reg1 {
    regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
};

/ {
    aliases {
        amp-sd-mode = &amp_sd_mode;
    };

    chosen {
        zephyr,settings-partition = &storage_partition;
    };

    gpio_leds {
        compatible = "gpio-leds";

        amp_sd_mode: amp-sd-mode {
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
        };

    };
};

&qspi {
    status = "disabled";
};

&mx25r64 {
    status = "disabled";
};
/* ===== 禁用 DK 的 LED / BUTTON（保留 node label 供 /aliases 引用） ===== */
&led0 { status = "disabled"; };
&led1 { status = "disabled"; };
&led2 { status = "disabled"; };
&led3 { status = "disabled"; };

/* nrf52840dk：P0.11 通常是 button0（会占用 PDM_CLK） */
&button0 { status = "disabled"; };
&button1 { status = "disabled"; };
&button2 { status = "disabled"; };
&button3 { status = "disabled"; };

/* ===== PDM0: MP23DB01HP  P0.26=CLK, P1.00=DIN ===== */
&pinctrl {
    pdm0_default: pdm0_default {
        group1 {
            psels = <NRF_PSEL(PDM_CLK, 0, 26)>,
                    <NRF_PSEL(PDM_DIN, 1, 0)>;
            bias-disable;
        };
    };

    pdm0_sleep: pdm0_sleep {
        group1 {
            psels = <NRF_PSEL(PDM_CLK, 0, 26)>,
                    <NRF_PSEL(PDM_DIN, 1, 0)>;
            low-power-enable;
        };
    };


    i2s0_default: i2s0_default {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 2)>,
                    <NRF_PSEL(I2S_LRCK_M, 1, 4)>,
                    <NRF_PSEL(I2S_SDOUT, 1, 6)>,
                    <NRF_PSEL_DISCONNECTED(I2S_SDIN)>,
                    <NRF_PSEL_DISCONNECTED(I2S_MCK)>;
        };
    };
};

&pdm0 {
    status = "okay";
    pinctrl-0 = <&pdm0_default>;
    pinctrl-1 = <&pdm0_sleep>;
    pinctrl-names = "default", "sleep";

    queue-size = <16>;

    /* 关键：先用内部高频时钟，绕开板上 HFXO 不稳定的问题 */
    clock-source = "PCLK32M_HFXO";
};

&uart1 {
    status = "disabled";
};

&i2s0 {
    status = "okay";
    clock-source = "PCLK32M_HFXO";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-names = "default";
};

/* QSPI uses P0.19/0.20/0.21 on DK; disable to avoid I2S pin conflict */
&qspi {
    status = "disabled";
};
